.alert
	padding: .6em
	border-radius: 6px
	background: var(--g-d)
	&.primary
		background: var(--g-p)
		color: white
		box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4)
	&.success
		background: var(--g-s)
		color: white
		box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4)
	&.info
		background: var(--g-i)
		color: white
		box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4)
	&.warn
		background: var(--g-w)
		color: white
		box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4)
	&.danger
		background: var(--g-dger)
		color: white
		box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14), 0 7px 10px -5px rgba(244,67,54,0.4)
	&.flat
		box-shadow: none
	// buttons
	// .btn.default
	// 	background: white
	// 	&.flat
	// 		color: white
	// 	&:hover
	// 		color: $text-color
