.modal(class= state)
	.modal-body.c-xs.card.p.mw-y.r(class= state) #{text}!{html}
		span.t-xl.close(d-value="close") ×
		.t-end.m-t
			span.btn.flat(d-value="cancel") #{cancel}
			span.btn(d-value="ok" class= state) #{ok}
