if file.type.startsWith('image/')
	.card.ib.flat.w200px.r.m2.loading
		span.close(d-click="rmFile") ×
		.avatar.img
		.truncate.pt #{file.name}
else
	.card.flat.if-y.m2
		.truncate.pt.grow1 #{file.name}
		span.btn.flat.danger.t-xl(d-click="rmFile") ×
