input.hidden(type="range")&attributes(input)
.input-range.progress.sm(d-click="select" d-move="drag" d-movestart="drag" d-moveend="drag")
	.track(style=`width: ${attrs.track}%`)
		.caret
	//- Steps
	if attrs.step > 0
		-var p= Math.round((attrs.max-attrs.min)/attrs.step);
		-p= 100/p;
		-var st= p
		while st<100
			i.step(style=`left: ${st}%`)
			-st+= p;
