input.hidden(type="range")&attributes(locals)
.input-range.progress.sm(d-click="select")
	.track(style=`width: ${track}%`)
		.caret(d-move="drag" d-movestart="drag" d-moveend="drag")
	//- Steps
	if step > 0
		-var p= Math.round((max-min)/step);
		-p= 100/p;
		-var st= p
		while st<100
			i.step(style=`left: ${st}%`)
			-st+= p;
