//- Autocomplete innerHTML
if showInput
	form.shrink0.g(v-submit="done input")
		input.f-input(name="q" value=element.value autocomplete="off")
		input.btn.primary(type="submit" value=i18n.ok)
ul.menu.results.grow1.scroll-y
