.badge
	display: inline-block
	padding: 1px .5em
	font-size: .9em
	line-height: 1em
	white-space: nowrap
	border-radius: .5em
	color: $default-bg
	background-color: $text-color
	// border: 1px solid $default-bg
	pointer-events: none
	z-index: 99
	&:empty
		padding: .5em
	// &.primary
	// 	background-color: $primary
	// &.success
	// 	background-color: $success
	// &.info
	// 	background-color: $info
	// &.warn
	// 	background-color: $warning
	// &.danger
	// 	background-color: $danger
	// &.disabled
	// 	background-color: $bg-disabled

	// absolute
	&.abs
		top: 0
		right: 0
		-webkit-transform: translate(50%, -50%)
		transform: translate(50%, -50%)
