// Z-INDEX
$zfront: 999999

// TEXT
$text-color:	var(--t-color)
$header-color:	var(--h-color)

$default: 		var(--default)
$default-light: var(--d-light)

$primary:		var(--primary)
$primary-light:	var(--primary-l)
$primary-dark:	var(--primary-d)

$success:		var(--success)
$success-light:	var(--success-l)
$success-dark:	var(--success-d)

$info:			var(--info)
$info-light:	var(--info-l)
$info-dark:		var(--info-d)

$warning:		var(--warn)
$warn-light:	var(--warn-l)
$warn-dark:		var(--warn-d)

$danger:		var(--danger)
$danger-light:	var(--danger-l)
$danger-dark:	var(--danger-d)

$disabled:		var(--disabled)
$bg-disabled:	var(--bg-disabled)


// Link
$link-color:	var(--l-color)
$link-hover:	var(--l-hover)
$link-active:	var(--l-active)

$menu-active-bg:	var(--l-bg)

// colors
$orange:		var(--t-orange)

// HTML
$default-bg:	var(--d-bg)
$btn-hover-color:	var(--btn-h)
$font-familly:	'Open Sans', sans-serif
$text-size:			14px
$text-size-mobile:	16px

// Border
$default-border: var(--b)
$default-radius: var(--br)
$btn-radius:	var(--bbr)
$border-color:	var(--bc)

// Card
$cardBg:	var(--c-bg)
$cardHead:	var(--c-h)


// Animations
$animate-fast: .2s
$animate-slow: 1s

// SIZES
$xs: 0
// $sm: 600px // 768px
$sm: 600px
$md: 992px
$lg: 1200px
$xl: 1920px
