
// Buttons
.g, .ig, .gv, .igv
	&>.btn
		margin: 0

// vertical group
.gv
	display: flex
	flex-direction: column
.igv
	display: inline-flex
	flex-direction: column
.gv, .igv
	margin: 2px
	// .btn, .f-input, .f-text
	>:not(:first-child)
		margin-top: -1px
	>*
		margin: 0 0 1px 0
		border-radius: 0
		// border-top-width: 0
		&:first-child
			border-top-left-radius: $btn-radius
			border-top-right-radius: $btn-radius
		&:last-child
			border-bottom-left-radius: $btn-radius
			border-bottom-right-radius: $btn-radius

// Form group
.g
	display: flex
.ig
	display: inline-flex
.g, .ig
	margin: 2px
	// .btn, .f-input, .f-text
	>:not(last-child)
		margin-inline-end: -1px!important
	&>*:hover
		z-index: 999
	&>input:focus
		z-index: 9999
	>*
		border-radius: 0
		&:first-child
			border-top-left-radius: $btn-radius
			border-bottom-left-radius: $btn-radius
		&:last-child
			border-top-right-radius: $btn-radius
			border-bottom-right-radius: $btn-radius
	>.gv, >.igv
		margin: 0
		>*
			border-radius: 0
			flex-grow: 1
		&:first-child
			>:first-child
				border-top-left-radius: $btn-radius
			>:last-child
				border-bottom-left-radius: $btn-radius
		&:last-child
			>:first-child
				border-top-right-radius: $btn-radius
			>:last-child
				border-bottom-right-radius: $btn-radius
